/* utility selector */

:root {
    --my-gray-select: #e5e5e5;
    --my-blu-badge: #165bba;
}

/* Background and Color*/

.bg_gray {
    background-color: var(--my-gray-select) !important;
}


.fa-bell {
    color: #ff8f00;
}

.bg_sidebar {
    background: rgb(18,41,63);
    background: linear-gradient(40deg, rgba(18,41,63,1) 85%, rgba(5,30,52,1) 85%);}




/* ---------WRAPPER SIDEBAR + MAIN -------- */


/* ---------SIDEBAR-------- */

.sidebar {
    height: calc(100vh - 90px);
}


.nav-link span { 
    display: none;
}

/* ---------MAIN-------- */

.top_main .badge {
    background-color: var(--my-blu-badge);
    
}



/* ---------ANIMATION-------- */





/* ---------MEDIA QUERY-------- */

@media screen and (min-width:992px) {

    /* sidebar  */

    .sidebar {
        width: 170px;
    }
    .nav-link span { 
        display: inline-block;
    }

    /* main  */
    .top_main .offcanvas-end {
        width: 50% !important;
    }

    .rounded-circle ~ .badge {
        display: inline-block !important;
    }
}


