/* utility selector */

:root {
--my-gray-select : #e5e5e5;
}


/* Background and Color*/

.bg_gray {
    background-color: var(--my-gray-select) !important;
}

.fa-bell {
    color: #ff8f00;
}




/* animation  */

